:root {
  --gap: 12px;
}

body {
  background: #202020;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: var(--gap) auto 33vh;
}

a {
  color: #58a6ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.main {
  margin: 0 auto;
  text-align: center;
}

/*.grid {
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fill, var(--icon-size));
  grid-template-rows: repeat(auto-fill, var(--icon-size));
}*/

.group {
  --columns: 18;

  margin: 36px auto;
  max-width: calc(var(--columns) * (var(--icon-size) + var(--gap)));
}

.icon {
  margin: calc(var(--gap) / 2);
  max-height: var(--icon-size);
  max-width: var(--icon-size);
}

.px256 {
  --icon-size: 128px;
  --columns: 9;
}
.px48 {
  --icon-size: 48px;
}
.px32 {
  --icon-size: 32px;
}
.px24 {
  --icon-size: 24px;
}
.px16 {
  --icon-size: 16px;
}
